.titleh1 {
  color: white;
  margin-left: 35%;
}
body {
  background-color: hsl(261, 55%, 30%);
}
.inputnotas {
  margin-left: 1rem;
}
.notasDiv {
  border: 0;
  border-radius: 1rem;
  margin-left: 35%;
  background-color: white;
  width: 25rem;
}
.notasArea {
  background-color: white;
  width: 23rem;
  height: 13rem;
  overflow-y: scroll;
  border-style: solid;
  margin-left: 0.8rem;
}
.mediabutton {
  margin-left: 1rem;
}